* {
  box-sizing: border-box;
}

html {
  /* background image from url https://www.reddit.com/r/MortalKombat/comments/89ojy6/what_type_of_stages_would_you_like_to_see_in_mk11/ */
  background: url(./background.png) bottom repeat-x black;
  height: 894px;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0%;
  margin: 0%;
}

.center-item {
  display: flex;
  justify-content: center;
}

.header {
  margin: 24px auto -17px;
  font-size: 90px;
  color: rgb(139, 0, 0);
}

.fading-header {
  font-size: 70px;
  color: rgb(168, 0, 0);
  }  

.header, .fading-header {
  text-align: center;
}

.animation-container {
  display: flex;
  flex: auto;
  justify-content: space-evenly;
  max-width: 1500px;
  margin: 254px 172px 154px;
}

.image-box {
  padding: 100px 80px;
  margin: 0px 60px;
  background-color: blueviolet;
}

.interface-container {
  display: flex;
  flex: auto;
  flex-direction: column;
  max-width: 1000px;
}

.score-board-container {
  display: flex;
  flex: auto;
  justify-content: space-evenly;
  max-width: 900px;
  margin: 14px;
}

.score-counter-box {
  /* width: auto; */
  width: 130px;
  height: 35px;
  border: 2px solid blue;
}

.play-round-button {
  width: 100px;
  height: 80px;
  border: 2px solid black;
  background-color: azure;
}

.buttons-container {
  display: flex;
  flex: auto;
  margin-bottom: 6px;
  max-width: 834px;
  justify-content: space-evenly;
}

.button {
  padding: 5px;
  width: 88px;
  text-align: center;
  border: 2px solid black;
  background-color: aquamarine;
}