* {
  box-sizing: border-box;
}

html {
  /* background image from url https://www.reddit.com/r/MortalKombat/comments/89ojy6/what_type_of_stages_would_you_like_to_see_in_mk11/ */
  background: url(./background.png) bottom repeat-x black;
  height: 894px;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0%;
  margin: 0%;
}

.center-item {
  display: flex;
  justify-content: center;
}

.header {
  margin: 24px auto -17px;
  font-size: 90px;
  color: rgb(139, 0, 0);
}

.second-header {
  font-size: 70px;
  color: rgb(168, 0, 0);
  }  

.header, .second-header {
  text-align: center;
}

.animation-container {
  display: flex;
  flex: auto;
  justify-content: space-evenly;
  max-width: 1500px;
  margin: 254px 172px 154px;
}

.image-box {
  height: 200px;
  width: 160px;
  margin: 0px 60px;
  background-color: blueviolet;
}

.interface-container {
  display: flex;
  flex: auto;
  flex-direction: column;
  max-width: 1000px;
}

.score-board-container {
  display: flex;
  flex: auto;
  justify-content: space-evenly;
  max-width: 900px;
  margin: 14px 14px 5px;
}

.score-counter-box-player {
  justify-content: flex-end;
}

.score-counter-box-player, .score-counter-box-computer {
  display: flex;
  width: 130px;
  height: 35px;
}

.score-counter-image {
  height: 35px;
  width: 35px;
  /* image from url https://image.shutterstock.com/image-photo/stock-photo-skull-isolated-on-black-250nw-1271439208.jpg */
  background: url(./skull.png) center no-repeat;
  background-size: 35px 35px;
}

.play-round-button {
  width: 100px;
  height: 100px;
  border-radius: 80px;
  background: url(./background.png) bottom 28.8% right 21.1%;
  border: 3px solid rgb(104, 13, 13);
  background-color: azure;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  flex: auto;
  margin-bottom: 4px;
  max-width: 834px;
}

.button-rock, .button-paper, .button-scissors{
  padding: 5px;
  width: 88px;
  border-radius: 8px;
  font-size:larger;
  font-weight: bolder;
  text-align: center;
  background: url(./background.png) bottom 30% right;
  border: 2px solid rgb(104, 13, 13);
  color: rgb(32, 2, 2);
}

.button-click {
  transition: .1s;
  padding: 4px;
  border: 3px solid orangered;
}